.Generator {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #242424;
  overflow: hidden;
  background-image: url('../background_square.png');
  background-repeat: repeat;
}

.event-arial {
  position: absolute;
  pointer-events: none;
  top: 80px;
  width: 80%;
  left: 10%;
  max-width: 80%;  /* 기본적으로 80%로 설정 */
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #666666;
  border: 1px solid #666666;
  background-color: transparent;
  transition: width 0.5s ease; /* 너비 변화만 부드럽게 */
}

.event-arial.shrink {
  width: calc(100% - 45%); /* generator-arial이 30%일 때 event-arial은 나머지 70% */
}

.main-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row; /* 좌우로 배치 */
}

.left-container {
  flex: 1;
  min-width: 13%;
}

.right-container {
  flex: 1;
  min-width: 13%;
}

.content-container {
  flex: 1;
  min-width: 74%;
  min-height: 100%;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  overflow: hidden;
}

.generator-arial {
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  background-color: white;
  min-width: 40px;
  min-height: 60%;
  transform-origin: right;
  transition: width 0.5s ease; /* 너비 변화만 부드럽게 */
}

.generator-arial.open {
  width: 28%; /* open 상태에서의 width */
}

.generator-arial.not-open {
  width: 40px; /* not-open 상태에서의 width */
}

.circle {
  position: absolute;
  left: -100px;
  width: 50px; /* 원 크기 */
  height: 50px;
  border-radius: 50%; /* 원형으로 만들기 */
  background-color: white; /* 흰색 배경 */
  z-index: 10; /* 다른 요소들 위에 겹치도록 설정 */
  display: none; /* 기본적으로 숨기기 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.circle img {
    position: absolute;
    top: 50%; /* 세로 중앙 */
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확하게 중앙 정렬 */
}

.generator-arial.open .circle {
  display: block; /* isOpen 상태일 때 원을 보이도록 설정 */
}

/* 이미지 컨테이너 */
.image-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 중앙 정렬 */
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  min-width: 100%;
  height:auto;
  opacity: 0; /* 초기 상태에서 투명하게 설정 */
  animation: fadeIn 1s forwards; /* 천천히 나타나는 애니메이션 */
}

.image-container img {
  max-width: 100%; /* 이미지 크기를 부모 크기에 맞게 자동 조정 */
  height: auto;
  object-fit: contain; /* 이미지 비율 유지하며 공간에 맞게 조정 */
  max-height: 285px; /* 이미지 크기를 더 작게 제한 */
  margin: 5px;
  animation: fadeIn 1.5s forwards; /* 이미지보다 조금 더 긴 시간에 천천히 나타나게 */
}

/* 텍스트 컨테이너 */
.text-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  padding: 10px;
  overflow-y: auto;
  opacity: 0; /* 초기 상태에서 투명하게 설정 */
  animation: fadeIn 1.5s forwards; /* 이미지보다 조금 더 긴 시간에 천천히 나타나게 */
}

/* 각 텍스트 항목 */
.text-item {
  margin-bottom: 30px; /* 항목 간 간격 */
  opacity: 0; /* 초기 상태에서 투명하게 설정 */
  animation: fadeInItem 2s forwards; /* 항목이 하나씩 천천히 나타나도록 설정 */
  animation-delay: 0.5s; /* 약간의 지연을 주어 항목들이 순차적으로 나타나게 */
}

.title-container,
.category-container {
  text-align: center; /* 텍스트 가운데 정렬 */
  max-height:100%
  padding: 0;
}

.title-container {
  flex: 1;
  margin-bottom: 10px;
}

.category-container {
  flex: 1;
  display: flex;
  justify-content: center; /* 항목들을 수평 중앙 정렬 */
  gap: 10px; /* 항목 간 간격 */
  overflow: hidden;
  max-height: 100%;
  flex-wrap: wrap; /* 필요시 줄 바꿈 */
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.category-item {
  font-size: 16px;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 4px 8px;
}

/* 애니메이션 정의 */
@keyframes fadeIn {
  to {
    opacity: 1; /* 최종적으로 불투명하게 */
  }
}

@keyframes fadeInItem {
  to {
    opacity: 1; /* 항목도 최종적으로 불투명하게 */
  }
}
