/* 영어 폰트 */
@font-face {
  font-family: 'CustomEnglishFont';
  src: url('../fonts/GT-Flexa-Mono-Light-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomEnglishFont';
  src: url('../fonts/GT-Flexa-Mono-Bold-Trial.otf') format('opentype');
  font-weight: bold; /* bold 버전 */
  font-style: normal;
}

/* 한글 폰트 */
@font-face {
  font-family: 'CustomKoreanFont';
  src: url('../fonts/FlightSansOTF-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomKoreanFont';
  src: url('../fonts/FlightSansOTF-Bold.otf') format('opentype');
  font-weight: bold; /* bold 버전 */
  font-style: normal;
}
