.archive-main {
  position: relative;
  width: 100%;
  height: 100vh; /* 화면 전체 높이 */
  background-color: #f5f5f5; /* 배경색 */
  background-image: url('../background_square2.png'); /* Generator 활성화 시 배경 이미지 */
  background-repeat: repeat; /* 가로 및 세로로 반복 */
  overflow: hidden; /* 넘치는 이미지는 숨김 */
}
.archive-image {
  position: absolute; /* 부모 .archive-main 기준으로 위치 */
  animation: fadeIn 1.5s ease-in-out; /* 천천히 나타나는 애니메이션 */
}

/* 이미지 천천히 나타나는 효과 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.refresh-button {
  position: absolute;
  left: -100px;
  width: 50px; /* 원 크기 */
  height: 50px;
  border-radius: 50%; /* 원형으로 만들기 */
  background-color: white; /* 흰색 배경 */
  z-index: 10; /* 다른 요소들 위에 겹치도록 설정 */
  display: none; /* 기본적으로 숨기기 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}
