/* 전체 컨테이너 */
.sidebar-container {
  height: 100%;
  width: 5%;
  min-width: 400px;
  background-color: #ffffff;
  border-right: solid 1px black;
  position: relative;
}

.sidebar-top {
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  height: 101px;
  border-bottom: solid 1px black;
}

.sidebar-bottom {
  width: 100%;
  height: calc(100% - 100px);
  overflow:auto;
  position: relative;
  padding: 14px 20px;
}

.sidebar-bottom::after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}

/* 섹션 제목 */
.section-title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 13px;
  transition: color 0.3s ease;
}

/* 하위 리스트 */
.sublist {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 10px 15px;
  max-height: 0; /* 초기 높이 설정 */
  opacity: 0; /* 초기 상태에서 투명 */
  box-sizing: border-box; /* border 포함하여 크기 변경 방지 */
  transition: max-height 1.2s cubic-bezier(0.5, 0.1, 0.25, 1), opacity 1.3s ease-out; /* 높이와 불투명도 애니메이션 */
}
/* 하위 리스트가 열릴 때 */
.sublist.open {
  opacity: 1; /* 불투명도 */
  max-height: 100%;
  transition: max-height 0.6s cubic-bezier(0.5, 0.1, 0.25, 1), opacity 0.6s ease-out; /* 애니메이션 타이밍을 일치시킴 */
}

/* 하위 리스트가 닫힐 때 */
.sublist:not(.open) {
  max-height: 0; /* 닫힐 때 높이 0 */
  opacity: 0; /* 사라지는 상태 */
  transition: max-height 0.6s cubic-bezier(0.5, 0.1, 0.25, 1) 0.3s, opacity 0.6s ease-out 0.3s;
}

/* 개별 항목 */
.subitem {
  cursor: pointer;
  padding: 1px 2px;
  margin: 1px;
  border-radius: 50px;
  text-align: center;
  white-space: nowrap;
  transition: all 0.1s ease;
  display: inline-block;
  min-width: 40px;
  font-size: 16px;
  box-sizing: border-box; /* border 포함하여 크기 변경 방지 */
}

.subitem.selected {
  background-color: #2DFF2D;
  font-weight: bold;
  transition : ease-out 0.3s;
}

.subitem:hover {
  box-sizing: border-box; /* border 포함하여 크기 변경 방지 */
  border-radius: 50px;
  outline: 1px solid #2DFF2D;
}

/* 반응형 디자인 */
.subitem {
  display: inline-block;
  box-sizing: border-box;
}
